/Canvas
/Data
/Disability Resource Center
/DataCamp
/Grades
/Notebooks/Scratch
/Notebooks/.ipynb_checkpoints
/Office\ Hours
/Projects
/Quizzes
/Roster
/Scripts
/Syllabus
/Teammates
/Zoom
.~*.ipynb
*checkpoint*
*checkpoint*
*.pkl
*.pickle
*.sqlite
