*.csv
*.ods
*.odt
*.pickle
*.pkl
*.sqlite
*.zip
*checkpoint*
*solution*
*submissions*
/.ipynb_checkpoints
/.virtual_documents
/Canvas
/Data
/DataCamp
/Disability Resource Center
/Grades
/Office\ Hours
/Projects
/Quizzes
/Roster
/Syllabus
/Teammates
