ghp-import
jedi-language-server
jupyter-book 
jupyterlab 
jupyterlab-git
jupyterlab-lsp
linearmodels 
matplotlib 
numpy 
pandas 
pandas-datareader 
requests-cache
scipy 
seaborn 
statsmodels 
yfinance 
